Repository CaddyDz/Turbo, pull requests merged in 2020-08, with the labels that each got.

#397 Patch 332
  .env.example
  app/Invoice.php
  app/Notifications/Arrival.php
  app/Observers/InvoiceObserver.php
  app/User.php
  composer.json
  composer.lock
  database/migrations/2020_08_02_144223_create_notifications_table.php
  nova-components/NovaPreviewResource/src/NovaPreviewResource.php
  resources/views/vendor/nova/.gitignore
  resources/views/vendor/nova/layout.blade.php
Labels: config

#411 WIP
  app/Catalog/Part.php
  app/Http/Controllers/CatalogCountController.php
  app/Http/Controllers/FallBackController.php
  app/Nova/Catalog/Article.php
  app/Nova/Resource.php
  app/Policies/StockPolicy.php
  app/Policies/StoreContactPolicy.php
  app/Policies/StorePolicy.php
  app/Providers/AppServiceProvider.php
  app/Providers/ViewComposerServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  database/seeds/data/brands.php
  deploy.sh
  public/robots.txt
  resources/views/contact.blade.php
  resources/views/store/contact.blade.php
  routes/web.php
Labels: UI, admin, config

#415 Seed commercial brands
  app/Providers/ViewComposerServiceProvider.php
  database/migrations/2020_06_11_061407_create_brands_table.php
  database/seeds/BrandSeeder.php
  database/seeds/data/brands.php
Labels: UI, database, help wanted

#416 Commercial brands tab
  app/Providers/ViewComposerServiceProvider.php
  database/migrations/2020_06_11_061407_create_brands_table.php
  database/seeds/BrandSeeder.php
  database/seeds/data/brands.php
  resources/views/partials/brands.blade.php
Labels: UI, javascript

#425 Seed models
  app/Brand.php
  app/Http/Controllers/VehicleModelController.php
  app/Invoice.php
  app/Profile.php
  app/Providers/AppServiceProvider.php
  app/Stock.php
  app/User.php
  app/VehicleModel.php
  database/migrations/2020_08_19_145354_create_vehicle_models_table.php
  database/seeds/ModelSeeder.php
  phpunit.xml
  resources/lang/fr.json
  resources/views/brand.blade.php
Labels: Localization, UI

#428 Added slug to vehicle models
  app/Observers/VehicleModelObserver.php
  app/Providers/ObserverServiceProvider.php
  app/VehicleModel.php
  database/migrations/2020_08_19_145354_create_vehicle_models_table.php
  database/seeds/ModelSeeder.php
Labels: UX, database

#431 Engines catalog
  app/Engine.php
  app/Helpers.php
  app/Http/Controllers/EnginesController.php
  app/VehicleModel.php
  database/migrations/2020_08_27_153058_create_engines_table.php
  database/seeds/EngineSeeder.php
  public/js/main.js
  resources/lang/fr.json
  resources/views/brand.blade.php
  resources/views/model.blade.php
  routes/web.php
Labels: Localization, UI, database, enhancement
